<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-icon name="thumbs-up-outline"></ion-icon>
      Recebidos</ion-title>
  </ion-toolbar>

  <ion-toolbar color="success">
      <ion-grid>
        <ion-row>

          <ion-col>
              <ion-icon text-left name="calendar-sharp" size="large"></ion-icon>

              <ion-title>
              <ion-datetime (ionChange)="rebuscarData()"
              monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              [(ngModel)]="dataSaldo" cancelText="Cancelar" doneText="Ok" max="2050-12-09"
              displayFormat="MM/YYYY" placeholder="Selecione uma Data"></ion-datetime>
            </ion-title>

          </ion-col>


        </ion-row>
      </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let lancamento of listaLancamentos" (click)="alterarLancamento(lancamento.key)">
          <ion-label>
            <h5>{{lancamento.descricao}}</h5>
            <p>{{lancamento.categoria}} - {{lancamento.dataLacamento | date:"dd/MM/yyyy"}}</p>

          </ion-label>
          <p>{{lancamento.valor | currency:"BRL":true:"1.2-2" }}
             <ion-icon *ngIf='lancamento.situacao==1' color="success" name="checkmark-done-outline"></ion-icon>
             <ion-icon *ngIf="lancamento.situacao==0" color="danger" name="close-outline"></ion-icon>
           </p>
        </ion-item>
  </ion-list>



  <ion-fab vertical="bottom" horizontal="end" (click)="abreFormulario()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
