<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Preço do Dolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Preço do Dolar</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-card color="primary">
  <ion-card-header>
    <center>
    <h4>{{nomeMoeda}}</h4>
    <p>{{moedaCode}} > {{moedaCodeIn}}</p>
    </center>

    <span>Data Inicial</span>
    <ion-datetime (ionChange)="rebuscarData()"
    [(ngModel)]="dataInicial" cancelText="Cancelar" doneText="Ok" max="2050-12-09"
    displayFormat="DD/MM/YYYY" placeholder="Selecione uma Data">
    </ion-datetime>

    <p>Data Final</p>
    <ion-datetime (ionChange)="rebuscarData()"
    [(ngModel)]="dataFim" cancelText="Cancelar" doneText="Ok" max="2050-12-09"
    displayFormat="DD/MM/YYYY" placeholder="Selecione uma Data">
    </ion-datetime>


</ion-card-header>

</ion-card>


  <ion-list>
    <ion-item *ngFor="let listas of lista">
          <ion-label>

                    <p>
                      <ion-icon name="trending-up-outline" color="success"></ion-icon> {{listas.high}}
                      <ion-icon name="trending-down-outline" color="danger"></ion-icon> {{listas.low}}
                    </p>
                    <h2>
                      <ion-icon name="megaphone-outline" color="warning"></ion-icon> {{listas.bid}}
                    </h2>

          </ion-label>
          <p style="font-size:12px;"> <ion-icon name="calendar-outline" color="warning"></ion-icon> {{listas.timestamp}}</p>

    </ion-item>
  </ion-list>
</ion-content>
